.idea

# Test binary, build with `go test -c`
*.test

# Build artifacts
bin/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform plan file
*.tfplan.*
